@model Category

@{ 
    ViewData["Title"] = "CategoryAdd";
}

<h1>CategoryAdd</h1>

@using (Html.BeginForm()) {
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x=> x.CategoryName )
    <input type="submit" value="Kaydet" /> 
}
